<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
    </div>
    <div class="container grid">
      <%# Создание блоков div c надписью породі %>
      <% breedsArr.forEach((element, index) => { %>
        <div class='image-<%= index %>'><%= element.breed %><img class='dog-image image-<%= index  %>' src="<%= element.url %>" alt="<%= element.breed %>"></div>
      <% }); %>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
  </body>
</html>
