<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container header">
      <h1><%= title %></h1>
      <p>Month <%= month %> in <%= year %></p>
    </div>
    <div class="container grid">
      <% for (i = 1; i < divs; i++) { %>
        <div>
          <% if (i > week.length) { %>
            <%# i  %>
            <% if (i >= week.length + firstDayMonth) { %>
              <%= i - week.length - firstDayMonth + 1 %>
            <% } %>
          <% } else { %>
              <%= week[i - 1] %>
          <% } %>
        </div>
      <% } %>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
  </body>
</html>
