<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Character name: <%= title %></h1>
    <p>Films with <%= title %></p>
    <ul>
      <% films.forEach(filmName => { %>
        <li><%= filmName.title %> (<%= filmName.url %>, species: <%= filmName.species %>);</li>
      <% }); %>
    </ul>
  </body>
</html>